@model C_Datos.DTOS.Dto_Factura
@{
    Layout = "~/Views/Shared/MasterShop.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700" rel="stylesheet">
<div class="card">
    <div class="header">
        <h1>Productos</h1>
    </div>
    <div class="container-chart">
        <ul id="cart">
        </ul>
    </div>
    <div class="footer">
        <h3>Total:</h3>
        <span id="total-price"></span>
    </div>
</div>
<div class="inputArea">
    <div class="container">

        @using (Html.BeginForm("Comprar", "Facturacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-group">
                <label class="editor-label">Seleccione el Producto</label>
                @Html.DropDownListFor(model => model.Nombre_Producto, ViewBag.Productos as SelectList, "Productos", new { @class = "form-control" })
                @Html.HiddenFor(m => m.Id_Producto)
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control form-control-cantidad", @type = "number", @required = "true" , @placeholder = "Cantidad"} })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                <input type="number" name="Cantidad" value="" id="Nombre_Producto_val" />
            </div>
            <input type="text" name="name" value="" id="Nombre_Producto_val" />
        </div>
            <div class="modal-footer">
                <input type="submit" value="Finalizar Compra" class="btn btn-danger" onclick="AddData();" />
            </div>

        }
        <button onclick="addToCart()" class="btn btn-success">Agregar Producto</button>
    </div>
</div>
<script>
    $(function () {
        $("#Nombre_Producto").on("change", function () {
            producto = $("#Id_Producto").val($(this).val());
            //
            @*var _Id_Producto = document.getElementById("Id_Producto");
            var _Cantidad = document.getElementById("Cantidad");
            debugger
            var valueProducto = _Id_Producto.value;
            _Id_Producto.id = valueProducto;
            var idProducto = _Id_Producto.id;

            var Cantidad = _Cantidad.value;
            debugger

            $.post("@Url.Action("AgregarProducto", "Facturacion")/" + idProducto,
                function (data) {
                   $('.modal-body').html(data);
                });*@

        });

    });
    //
    $("#Nombre_Producto").attr("onChange", "selectedItem(this)");

    function selectedItem(model) {
        var selected = model.options[model.selectedIndex].text;
        document.getElementById("Nombre_Producto_val").val = selected;
    }

</script>
<script src="~/assets/js/Shop.js"></script>
