@model C_Datos.TCliente

<!-- Delete Modal HTML -->
<h3>¿Está seguro de que desea eliminar estos registros?</h3>

<div class="display-label ">
    <label style="font-family:'Bookman Old Style';">Nombre</label>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Nombre)
</div>
<div class="display-label ">
    <label style="font-family:'Bookman Old Style';">RNC/Cedula</label>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.RNC)
</div>
<div class="display-label ">
    <label style="font-family:'Bookman Old Style';">Telefono</label>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Telefono)
</div>
<div class="display-label ">
    <label style="font-family:'Bookman Old Style';">Correo</label>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Correo)
</div><div class="display-label ">
    <label style="font-family:'Bookman Old Style';">Categoria</label>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Categoria)
</div>
<p>
    <br />
    <input type="submit" value="Eliminar" id="@Model.Id_Cliente" onclick="Delete(this.id)" class="btn btn-danger" />
</p>

