@model C_Datos.DTOS.Dto_Cliente

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agregar</title>
</head>
<body>
    @using (Html.BeginForm("Agregar", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        <form>
            <div class="modal-header">
                <h4 class="modal-title">Agregar Proveedor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="editor-label">Nombre</label>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>RNC/Cedula</label>
                    @Html.EditorFor(model => model.RNC, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.RNC, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    <label>Telefono</label>
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Correo</label>
                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", @type = "email", @required = "true" } })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                </div>  
              
            </div>
            <div class="modal-footer">
                <input type="" value="Agregar" class="btn btn-success" onclick="AddData();" />
            </div>
        </form>
    }
</body>
</html>