@model IEnumerable<C_Datos.DTOS.Dto_Proveedor>
@using C_Datos;
@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Mantenimiento<b> Proveedores</b></h2>
                </div>
                <div class="col-sm-6">
                    <a href="#agregarProveedor" class="btn btn-success" data-toggle="modal" onclick="AddData();"><i class="material-icons">&#xE147;</i> <span></span></a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>RNC/Cedula</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Proveedor in Model.ToList())
                {
                    <tr>
                        <td>@Proveedor.Id_Proveedor</td>
                        <td>@Proveedor.Nombre</td>
                        <td>@Proveedor.RNC</td>
                        <td>@Proveedor.Telefono</td>
                        <td>@Proveedor.Correo</td>
                        <td>
                            <a href="#editEmployeeModal" id="@Proveedor.Id_Proveedor" onclick="GetbyID(this.id)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                            <a href="#eliminarProveedor"  id="@Proveedor.Id_Proveedor" onclick="GetbyDelID(this.id)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Pagination()
    </div>
</div>
<div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
@helper Pagination()
{
    @*<div class="clearfix">
        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
        <ul class="pagination">
            <li class="page-item disabled"><a href="#">Previous</a></li>
            <li class="page-item"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item active"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link">Next</a></li>
        </ul>
    </div>*@}


@section scripts{
    <script>
        function AddData() {
            $.post("@Url.Action("Agregar", "Proveedores")",
                function (data) {
                    $('.modal-body').html(data);
                });
            $("#modal").modal("show");
        }
        function EditData(model) {
            $.post("@Url.Action("Editar", "Proveedores")/" + model,
                function (data) {
                    $('.modal-body').html(data);
                });
            $("#modal").modal("show");
        }

        function Delete(model) {
            $.post("@Url.Action("Eliminar", "Proveedores")/" + model,
                function (data) {
                   $('.modal-body').html(data);
                });
            $("#modal").modal("hide");
        }
        //Taking by ID
        function GetbyID(ID) {
              $.get("@Url.Action("GetID", "Proveedores")/" + ID,
                function (data) {
                    $('.modal-body').html(data);
                });
              $("#modal").modal("show");
        }
         function GetbyDelID(ID) {
              $.get("@Url.Action("EliminarID", "Proveedores")/" + ID,
                function (data) {
                    $('.modal-body').html(data);
                });
             $("#modal").modal("show");
        }

    </script>
}