@*@model  IEnumerable<C_Datos.DTOS.Dto_Stock>*@
@model C_Datos.DTOS.Dto_Stock

@using (Html.BeginForm("Agregar", "Stock", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <form>
        <div class="modal-header">
            <h4 class="modal-title">Agregar Producto</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                @Html.DropDownListFor(m => m.Id_Producto, Model.TProductos)

                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "true" } })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Agregar" class="btn btn-success" onclick="AddData();" />
        </div>
    </form>
}